body{
    margin: 0;
    margin: 0 50px;
}
.container{
    margin: 20px 50px;
}
.coverAbout img{
   border-radius: 25px;
   height: 100%;
}

.coverAbout {
    display: flex;
    justify-content: center;
    margin-bottom: 43px;
    width: 1240px;
    height: 223px;
    padding-top: 68.37px;
  }
  


.imageAbout{
    object-fit: cover!important;
}
 
#root {
    height: auto;
}

.sectionAbout {
    height: 1000px;
}

@media screen and (max-width: 699px) {
.About {
    width: 335px;
}

.coverAbout {
    width: 336px;
    height: 223px;
    margin: auto;
    padding-top: 28px;
    padding-bottom: 19px;
  }

.coverAbout img{
    border-radius: 25px;
    height: 100%;
    object-fit: cover; 
 }

.sectionAbout {
    height: auto;
}

.footer-container {
    margin-top: 50px;
}
}

@media screen and (min-width: 700px) and (max-width: 820px) {
    .coverAbout {
        width: 650px;
    }

    .sectionAbout {
        width: 650px;
        height: 1150px ;
    }
    

    .About {
        width: 650px!important;
    }

    
}

    


